In [1]:
import os

In [3]:
os.getcwd()

'c:\\Users\\athir\\OneDrive\\Documents\\Internship\\Insurance-Premium-Prediction\\notebook'

In [7]:
config = "c:\\Users\\athir\\OneDrive\\Documents\\Internship\\Insurance-Premium-Prediction\\config"
config_file_path = os.path.join(config,"config.yaml")
config_file_path

'c:\\Users\\athir\\OneDrive\\Documents\\Internship\\Insurance-Premium-Prediction\\config\\config.yaml'

In [8]:
os.path.exists(config_file_path)

True

In [9]:
download_url = "https://raw.githubusercontent.com/Athira-M-Chandran/Datasets/main/Insurance%20Premium/insurance.csv"
os.path.basename(download_url)

'insurance.csv'

In [11]:
raw_data_dir = r"C:\Users\athir\OneDrive\Documents\Internship\Flight fare prediction\Flight-Fare-Prediction\flight_fare\artifact\data_ingestion\2022-07-21-12-47-55\ingested_data"
os.listdir(raw_data_dir)[0]

'sample'

In [4]:
import pandas as pd
import numpy as np

In [32]:
df = pd.read_csv(r"C:\Users\athir\Downloads\insurance.csv")

In [15]:
df.head()

   age     sex   bmi  children smoker     region  expenses
0   19  female  27.9         0    yes  southwest  16884.92
1   18    male  33.8         1     no  southeast   1725.55
2   28    male  33.0         3     no  southeast   4449.46
3   33    male  22.7         0     no  northwest  21984.47
4   32    male  28.9         0     no  northwest   3866.86

In [26]:
int(df['expenses'].max())

63770

In [23]:
int(df['expenses'].min())

1121

In [46]:
df['expenses'].median()

9382.029999999999

In [22]:
df[df['expenses']>20000]

      age     sex   bmi  children smoker     region  expenses bins
3      33    male  22.7         0     no  northwest  21984.47    5
9      60  female  25.8         0     no  northwest  28923.14    5
11     62  female  26.3         0    yes  southeast  27808.73    5
14     27    male  42.1         0    yes  southeast  39611.76    5
19     30    male  35.3         0    yes  southwest  36837.47    5
...   ...     ...   ...       ...    ...        ...       ...  ...
1313   19  female  34.7         2    yes  southwest  36397.58    5
1321   62    male  26.7         0    yes  northeast  28101.33    5
1323   42  female  40.4         2    yes  southeast  43896.38    5
1328   23  female  24.2         2     no  northeast  22395.74    5
1337   61  female  29.1         0    yes  northwest  29141.36    5

[273 rows x 8 columns]

In [8]:
bins=[1000, 10000, 20000, 30000, 40000]

In [23]:
df['bins'] = pd.cut(
                df["expenses"],
                bins=[0, 5000, 10000, 15000, 20000, np.inf],
                labels=[1,2,3,4,5]
            )

In [24]:
df['bins'].value_counts()

1    359
2    353
5    273
3    268
4     85
Name: bins, dtype: int64

In [14]:
import matplotlib.pyplot as plt

In [15]:
import seaborn as sn

In [30]:
df.dtypes.values

array([dtype('int64'), dtype('O'), dtype('float64'), dtype('int64'),
       dtype('O'), dtype('O'), dtype('float64'),
       CategoricalDtype(categories=[1, 2, 3, 4, 5], ordered=True)],
      dtype=object)

In [31]:
df.dtypes

age            int64
sex           object
bmi          float64
children       int64
smoker        object
region        object
expenses     float64
bins        category
dtype: object

In [39]:
for i in df.columns:
    if df[i].nunique() <5:
        print(f'{i} = {df[i].unique()}')

sex = ['female' 'male']
smoker = ['yes' 'no']
region = ['southwest' 'southeast' 'northwest' 'northeast']

In [48]:
df['age'].index

RangeIndex(start=0, stop=1338, step=1)

In [50]:
df.columns.get_loc('age')

0

In [51]:
columns = df.columns
for i in df.columns:
    print(f'{i}_ix = {columns.get_loc(i)}')

age_ix = 0
sex_ix = 1
bmi_ix = 2
children_ix = 3
smoker_ix = 4
region_ix = 5
expenses_ix = 6

In [54]:
df.isna().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
expenses    0
dtype: int64